body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Wix Madefor Display', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background-color: var(--main-backgroundColor);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --main-backgroundColor: #1d1e27;
  --main-color: #fafafa;
  --active: #e8162e;
}

.progress-player {
  display: flex;
  position: fixed;
  top: 20px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #fff 70%, red);
}

.heatmap-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed !important;
  top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header,
.left,
.center,
.right,
.search input,
.search,
.loupe {
  position: relative;
  z-index: 100;
}

.search input {
  color: #fff;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: none;
  width: 0px;
  border-radius: 0.5rem;
  transition: 0.5s all ease-in-out;
  position: relative;
  left: auto;
  right: 0;
  transform-origin: right;
}

.search:hover input {
  border: 1px solid #fafafa;
  width: 205px;
}

.loupe {
  cursor: pointer;
  fill: #f0f0f0;
  width: 40px;
  height: 50px;
}

#settings-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search input::placeholder {
  color: #fff;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.settings {
  position: relative;
  z-index: 1000;
}

#settings-btn {
  display: flex;
  transform: translateX(20px);
  background-color: transparent !important;
  z-index: 0.9;
}

.settings button img:hover {
  transition: 0.9s all ease-in-out;
  transform: rotate(360deg);
  background-color: transparent;
}

video {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  border: 0.7rem solid #262934;
  box-shadow: 0 2px 8px rgb(45, 48, 62);
}

.player-container {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 2rem auto !important;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.remove-sidebar {
  all: unset;
  width: 35px;
  height: 36px;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  z-index: 11;
  cursor: pointer;
  border-radius: 1.2rem;
  border: none;
  font-size: 10pt;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  font-family: 'Wix Madefor Display', sans-serif;
  transition: 0.4s all ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: var(--active);
}

.home {
  position: fixed;
  left: 5px;
  top: 5px;
}

.player-container {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

#video-player {
  width: 100% !important;
  height: auto;
  margin-top: 5rem;
}

#heatmap-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
}

.controls {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.controls button {
  margin: 5px;
  padding: 10px;
}

.controls-button {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
  border: none;
  z-index: 11;
  cursor: pointer;
  border-radius: 1.2rem;
  border: none;
  font-size: 10pt;
  font-weight: bold;
  margin: 0.3em;
  width: max-content;
  font-family: 'Source Code Pro', monospace;
  transition: 0.4s all ease-in-out;
}

.controls-button img {
  transform: rotate(180deg);
}

.controls-button button {
  font-size: 1rem;
  padding: 0.6em 0.8rem;
  border-radius: 0.8rem;
  white-space: nowrap;
}

.controls button:hover {
  color: var(--main-color);
  background-color: var(--active);
}

.error-message {
  position: absolute;
  bottom: 0.3rem;
  color: var(--active);
  background-color: #262934;
  display: none;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  padding: 1.4rem 2rem;
  border-radius: .4rem;
  transition: .3s all ease-in-out;
}

#heatmap-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

#heatmap-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.player-container {
  position: relative;
  width: 80%;
  margin: 2rem auto;
}

#target {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: auto;
  cursor: move;
  z-index: 20;
}

@media (max-width: 925px) {
  .left h1 {
    display: none;
  }

  #player {
    font-size: 2rem !important;
  }

  #settings-btn img {
    transform: scale(0.88);
  }
}

@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .center {
    order: 3;
    width: 100%;
    justify-content: left;
    margin: -0.5rem 5rem 1rem 0 !important;
    transform: translate(-3.3rem, -1rem);
  }

  .search {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.8rem;
    margin-left: 2rem !important;
  }

  /* .search input {
        pointer-events: none;
    } */

  .search:active input {
    border: none;
    width: 205px;
  }
}

@media (max-width: 410px) {
  header {
    flex-wrap: nowrap;
  }

  .search {
    position: fixed;
    top: 8rem;
  }

  #settings-btn img {
    transform: scale(0.76);
  }

  .search {
    position: fixed;
    top: 8rem;
    left: 2rem;
    right: 0;
  }
}

